/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/sass/main.scss ***!
  \****************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik&display=swap);
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/sass/main.scss (1) ***!
  \********************************************************************************************************************/
/*****************colors********************************/
/********font-family***********/
body {
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/******site header*****/
.site-header {
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
@media (min-width: 960px) {
  .site-header {
    display: flex;
    justify-content: center;
  }
}

.site-header-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .site-header-inner {
    width: 1200px;
  }
}

.site-branding {
  margin-right: auto;
}
.site-branding .custom-logo-link img {
  max-height: 51px;
  width: 100%;
  height: 51px;
}
@media (min-width: 960px) {
  .site-branding .custom-logo-link img {
    height: 61px;
    max-height: 61px;
  }
}

/***********nav-mobile********(hamburger)**/
.nav-mobile {
  width: 45px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  /*********nav-mobile__opened******/
  /*******reponsive **************/
}
.nav-mobile .bar {
  display: inline-block;
  width: 26px;
  height: 2px;
  background-color: #1f2233;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}
.nav-mobile .bar.two {
  transition: display 0.3s ease-in-out;
}
.nav-mobile.nav-mobile__opened .bar.one {
  transform: rotate(45deg);
}
.nav-mobile.nav-mobile__opened .bar.two {
  display: none;
}
.nav-mobile.nav-mobile__opened .bar.three {
  transform: rotate(-45deg);
  position: absolute;
}
@media (min-width: 960px) {
  .nav-mobile {
    display: none;
  }
}

/******site navigation ***********************************/
.main-navigation {
  width: 260px;
  padding: 30px 26px 30px 16px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  z-index: 99;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-260px);
  /******reponsive *******************/
  /********* nav-logo-mobile*****/
}
.main-navigation.main-navigation__opened {
  transform: translateX(0);
}
.main-navigation::-webkit-scrollbar {
  width: 5px;
  max-height: 20%;
  height: 20%;
}
.main-navigation::-webkit-scrollbar-button {
  background: #ccc;
}
.main-navigation::-webkit-scrollbar-track-piece {
  background: #eee;
  height: 40px;
}
@media (min-width: 960px) {
  .main-navigation {
    transform: translateX(0) !important;
    position: static;
    flex-direction: row;
    width: auto;
    overflow-y: hidden;
    display: flex;
  }
}
.main-navigation ul#primary-menu {
  margin: 0;
  padding: 0;
}
@media (min-width: 960px) {
  .main-navigation ul#primary-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-navigation ul#primary-menu li {
    margin-left: 30px;
  }
}
.main-navigation .nav-logo-mobile {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-right: auto;
}
.main-navigation .nav-logo-mobile .custom-logo-link img {
  max-height: 51px;
  width: 100%;
}
@media (min-width: 960px) {
  .main-navigation .nav-logo-mobile {
    display: none;
  }
}

/*********#primary menu ***********/
ul#primary-menu li.menu-item {
  list-style-type: none;
  border-bottom: 1px solid #ebebeb;
  width: 211px;
}
@media (min-width: 720px) {
  ul#primary-menu li.menu-item {
    width: auto;
    border-bottom: 0;
  }
}
ul#primary-menu a {
  color: #007bff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 12px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s ease-out;
}
ul#primary-menu a:hover {
  color: #282828;
}
@media (min-width: 960px) {
  ul#primary-menu a {
    padding: 0;
    color: #000;
    font-size: 1em;
  }
  ul#primary-menu a:hover {
    color: #266dbf;
  }
}

/***** nav submit cv*********/
.nav-submit-cv {
  display: none;
  margin-left: auto;
}
@media (min-width: 960px) {
  .nav-submit-cv {
    display: flex;
  }
}

.btn {
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 0;
}
.btn.btn-primary {
  background-color: #266dbf;
  color: #fff;
  border: 0;
}

.entry-header {
  display: none;
}

.site-main {
  margin: -24px;
}

.intro-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-cover > .wp-block-cover__inner-container {
  max-width: 1200px;
  padding: 20px;
}
@media (min-width: 720px) {
  .intro-cover {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
@media (min-width: 960px) {
  .intro-cover {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (min-width: 720px) {
  .intro-cover-title {
    font-size: 4em;
    margin: 0;
  }
}
@media (min-width: 960px) {
  .intro-cover-title {
    font-size: 4.5em;
  }
}

@media (min-width: 720px) {
  .intro-cover-text {
    max-width: 700px;
    font-size: 1.2em;
  }
}

.intro-cover-btns a {
  border-radius: 0;
  padding: 3px 28px;
}
